form.Form {
  > div {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    margin-top: 20px;
    font-size: 14px;
    color: #1f2a4b;
    text-decoration: underline;
    cursor: pointer;
  }

  button {
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: #4a77e5;
    display: block;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 50px auto 0;
  }
}
